
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'HUGEAvantGardeBold', 'Galaxie', Sans-Serif;

  nav {
   background: $magenta;
   overflow: hidden;
   height: 60px;
   @include desktop {
     height: 72px;
   }
  }
  ul {
    margin: 0;
    padding: 0;
    @include desktop {
      padding-left: 134px;
    }
    > li {
      @include desktop {
        display: inline-block;
        list-style: none;

        padding: 0 0;
      }
      > a {
        display: block;
        font-size: 1em;
        padding: 31px 24px;
        list-style: none;
        text-decoration: none;
        color: white;
        height: 72px;
        &:hover {
          background: white;
          color: $white;
          cursor: pointer;
        }
      }
      > ul {
        // submenu for 2nd level nav
        > li {
          display: block;
          list-style: none;
          > a {
            text-decoration: none;
            color: $translucent_black;
            font-family: 'Galaxie';
            &:hover {
              color: $magenta;
            }
          }
        }
      }
    }
  }
  @include desktop {

    .About, .Careers, .Ideas, .Contact {
      position: absolute;
      background: white;
      z-index: 9999;
      top: 72px;
      overflow: hidden;
      max-height: 0;
      > li {
        display: block;
        padding: 5px 5px;
        margin: 0;
        //display: none;
      }
    }
  }

  #sidebartoggler {
    display: none;
    &:checked + .page-wrap {
      .mobile__nav {
        left: 0;
      }
      .toggle {
        right: 70px;
      }
      .page-content {
        margin-left: 250px;
      }
      // .huge-logo {
      //   display: visible;
      // }
    }
  }
  .page-wrap {
    height: 100%;
    width: 100%;
    .huge-logo {
      background-image: url(../images/HUGE-white.png);
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 24px;
      left: 24px;
      height: 24px;
      width: 60px;
      // display: none
    }
    .toggle {
      text-decoration: none;
      position: fixed;
      z-index: 1;
      top: 0;
    }
    .veggie{
      position: absolute;
      width: 24px;
      height: 5px;
      background: white;
      top: 25px;
      left: 24px;
      margin: 2.5px 0;
      @include desktop {
        display: none;
      }
      &:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 5px;
        background: white;
        top: -8px;
        left: 0px;
      }
      &:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 5px;
        background: white;
        top: 8px;
        left: 0px;
      }
    }
    .page-content {
      position: relative;
      z-index: 0;
      top: 60px;

      .office-bg {
        background-image: url(../images/background-image.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 240px;
        @include desktop {
          height: 640px;
        }
      }

      .mobile-breakpoint h1 {
        position: absolute;
        width: 60%;
        top: 45%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin: 0;
        font: 15vmin/1 HUGEAvantGardeBold;
        letter-spacing: -0.06em;
        text-align: center;
      }

      .desktop-breakpoint {
        display: none;
      }

      .content {
        width: 70%;
        color: black;
        font-family: 'Galaxie', Sans-Serif;
        margin: 60px auto;
      }

      .content p {
        margin: 0;
        padding: 0;
      }

      .desktop-breakpoint {
        display: none;
        @include desktop {
          display: inline;
          position: absolute;
          width: 60%;
          top: 45%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          margin: 0;
          font: 15vmin/1 HUGEAvantGardeBold;
          letter-spacing: -0.06em;
          text-align: center;
        }
      }
      // .mobile__nav {
      //   position: fixed;
      //   top: 60px;
      //   left: -250px;
      //   width: 250px;
      //   padding: 12px;
      //   background: white;
      //   z-index: 0;
      //   @include desktop {
      //     display: none;
      //   }
      //   // height: 100%;
      //   li {
      //     font-family: 'Galaxie';
      //     text-decoration: none;
      //     list-style: none;
      //     cursor: pointer;
      //     a {
      //       text-decoration: none;
      //       color: black;
      //       &:hover {
      //         color: #ec008c;

      //       }
      //     }
      //   }
      //}
    }
  }
}
    // nav >li:focus ~ nav ul li > ul{
    //   max-height: 400px;
    // }
















