// media queries

 @mixin mobile {
    @media (max-width: #{$mobile}) {
      @content;
    }
  }

  @mixin desktop {
    @media (min-width: #{$mobile}) {
      @content;
    }
  }

  @mixin overlay {
    background:rgba(0,0,0,.75);
    opacity:1;
    -webkit-transition:
  }